body {
  margin: 0;
  text-align: center;
}

h1 {
  color: #0073cf;
  margin-top: 20px;
}

.top-container {
  background-color: #ffb612;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: red;
  height: 200px;
  width: 200px;
}

.bottom-container {
  background-color: blue;
  height: 200px;
  width: 200px;
}

.top-cloud {
  position: absolute;
  right: 350px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 350px;
  bottom: 300px;
}
