body {
  margin: 0;
  text-align: center;
  font-family: 'Oswald', serif;
}

/* 16px = 100% = 1em/rem */
/* Use rem over em b/c em can/is affected by parent font size while rem is not */
h1 {
  font-size: 5.625rem;
  color: #eba487;
  margin: 0 auto 0 auto;
  font-family: 'Antic Slab', serif;
}

h2 {
  color: #eba487;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin-top: 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

.top-container {
  background-color: #11999E;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile-pic {
  margin-top: 1rem;
  width: 250px;
}

.skills-img {
  width: 150px;
}

.skill-row > p, h3 {
  text-align: left;
}

.skill-row {
  width: 60%;
  margin: 0 auto 0 auto;
}

.skill-row + .skill-row {
  margin: 6.25rem auto 0 auto;
}
