body {
  margin: 0;
  text-align: center;
  font-family: 'Oswald', serif;
}

/* 16px = 100% = 1em/rem */
/* Use rem over em b/c em can/is affected by parent font size while rem is not */
h1 {
  font-size: 5.625rem;
  color: #eba487;
  margin: 0 auto 0 auto;
  font-family: 'Antic Slab', serif;
}

h2 {
  color: #eba487;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

.top-container {
  background-color: #11999E;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile-pic {
  margin-top: 1rem;
  width: 22%;
}

.programmer-img {
  width: 25%;
  float: left;
  margin-right: 1.875rem;;
}

.code-img {
  width: 25%;
  float: right;
  margin-left: 1.875rem;;
}

.skill-row {
  width: 50%;
  margin: 3rem auto 7.8125rem auto;
  text-align: left;
  line-height: 2;
}

.skill-row + .skill-row {
  margin-bottom: 5rem;
}

hr {
  border-style: dotted none none;
  border-color: #11999E;
  border-width: 1rem;
  width: 12%;
  margin: 5rem auto 5rem auto;
}
