body {
  margin: 0;
  text-align: center;
  font-family: 'Oswald', serif;
}

h1 {
  color: #0073cf;
  margin: 0;
  font-family: 'Antic Slab', serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #ffb612;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
